<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/707687832239603863/1048573000548618360/classic_car.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <title> Sistema Infotainment </title>

</head>

<body class="background_ecraPrincipal">
    <img src='https://cdn.discordapp.com/attachments/707687832239603863/1049440866693025933/goback.png' class="goBack" 
    width='100px' height='100px' onclick="location.href='/'">
    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1051632943304552498/botao_WIFI.png" class="botaoWIFI"
    width="187px" height="150px" onclick="location.href='/ecraPrincipal/wifi'">

    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1050080688017248256/botao_RADIO.png" class="botaoRADIO"
    width="158px" height="88px" onclick="location.href='/ecraPrincipal/radio'">
    <img src="https://media.discordapp.net/attachments/707687832239603863/1050080751883911218/botao_MEDIA.png" class="botaoMEDIA"
    width="150px" height="60px" onclick="location.href='/ecraPrincipal/media'">

    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1050047131337105549/botao_SETUP.png" class="botaoSETUP"
    width="200px" height="76px" onclick="location.href='/ecraPrincipal/setup'">
    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1050080752282374285/botao_GPS.png" class="botaoGPS"
    width="200px" height="65px" onclick="location.href='/ecraPrincipal/gps'">
    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1050120970775580692/botao_CAR.png" class="botaoCAR"
    width="200px" height="65px" onclick="location.href='/ecraPrincipal/car'">
    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1050123259888275566/botao_MENU.png" class="botaoMENU"
    width="217px" height="110px" onclick="location.href='/ecraPrincipal/menu'">


    <form id="form-sistema">
    <button id = "phone" value="two"><img src="https://cdn.discordapp.com/attachments/707687832239603863/1049385285810671616/botao_PHONE.png" class="botaoPHONE"
    width="150px" height="60px" ></button>
    </form>

    <div class="ecra-branco">
        <% if(user.user!=null && user.contacto != null){ %>
            <h2 class="lead">Welcome, <%=user.user%></h2>
            <h1> EM CHAMADA</h1>
            <button type="submit" onclick="location.href='/ecraPrincipal/chamada'">Open Call</button>
        <% }else if(user.user!=null){ %>
            <h2 class="lead">Welcome, <%=user.user%></h2>
            <button type="submit" onclick="location.href='/ecraPrincipal/contactos'">Make a Call</button>
            <button type="submit" onclick="location.href='/ecraPrincipal/endSession'">End Session</button>
        <% }else{ %>    

        <h2 class="lead">Conect to which device?</h2>
        <div class="list-group">
        <form id="form-sistema-user">
            <input class="form-check-input" type="radio" id="James" name="user" value="James">
            <label class="form-check-label" for="James">James</label><br>
            <hr style="color:white;">
            <input class="form-check-input"  type="radio" id="John" name="user" value="John">
            <label class="form-check-label" for="John">John</label><br>
            <hr style="color:white;">
            <input class="form-check-input" type="radio" id="Susan" name="user" value="Susan">
            <label class="form-check-label" for="Susan">Susan</label><br>
            <hr style="color:white;">
            <input class="form-check-input" type="radio" id="Emily" name="user" value="Emily">
            <label class="form-check-label" for="Emily">Emily</label><br>
            <hr style="color:white;">
            <input class="form-check-input" type="radio" id="Emma" name="user" value="Emma">
            <label class="form-check-label" for="Emma">Emma</label><br>
            <hr style="color:white;">
            <input class="form-check-input" type="radio" id="Paul" name="user" value="Paul">
            <label class="form-check-label" for="Paul">Paul</label><br>
            <hr style="color:white;">
            <button>Escolher</button>
        </form>
 
          </div>
          <% } %>
        
    </div>
    
    <script>
        const form = document.getElementById('form-sistema-user');
        form.addEventListener('submit', async(e) =>{
            e.preventDefault();
            const user = document.querySelector('input[name="user"]:checked').value;
            console.log('CONTACTO: ', user);

            try{
                const res = await fetch('http://localhost:3000/ecraPrincipal/phone',{
                    method: 'POST',
                    body: JSON.stringify({user}),
                    headers:{'Content-Type': 'application/json'}
                });
                const data = await res.json();
                console.log('DATA: ',data);
            }catch(err){
                console.log(err);
            }
            location.assign('/ecraPrincipal/contactos');

        });

    </script>


</body>

</html>