<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/707687832239603863/1048573000548618360/classic_car.png">
    <title> Sistema Infotainment </title>

</head>

<body class="background_ecraVolante">
    <img src='https://cdn.discordapp.com/attachments/707687832239603863/1049440866693025933/goback.png' class="goBack" 
    width='100px' height='100px' onclick="location.href='/ecraVolante'">
    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1049445554796625991/botaoChamada.png" class="botaoChamada" 
    width="180px" height="120px" onclick="location.href='/ecraVolante/chamada'">
    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1049445555312541836/botaoVoice.png" class="botaoVoice" 
    width="180px" height="120px" onclick="location.href='/ecraVolante'">
    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1049450279021584414/botaoSetaCima.png" class="botaoSetaCima" 
    width="180px" height="120px" onclick="location.href='/ecraVolante/'"> <!--falta preencher o que faz ao clicar na seta para cima-->
    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1049450279474565191/botaoSetaBaixo.png" class="botaoSetaBaixo" 
    width="170px" height="110px" onclick="location.href='/ecraVolante/'"> <!--falta preencher o que faz ao clicar na seta para baixo-->

    <div class="ecra-volante">
        <h4 class="lead" id="whereW">Where would you like to go?</h4>
    </div>


    <script>
        const ecra = document.querySelector('.ecra-volante');
        const whereW = document.querySelector('#whereW');
        console.log('WHERE: ', whereW);

        const cookieValueDesino = document.cookie
                    .split('; ')
                    .find((row) => row.startsWith('destino='))
                    ?.split('=')[1];

        const cookieValueRota = document.cookie
                    .split('; ')
                    .find((row) => row.startsWith('rota='))
                    ?.split('=')[1];            

        if(cookieValueDesino != undefined){
            whereW.remove();
            rotaEmCurso = document.createElement('p');
                rotaEmCurso.classList.add('lead');
                rotaEmCurso.innerText = 'Route is alrady in course! ';
            rotaEmCursoD = document.createElement('p');
                rotaEmCursoD.classList.add('lead');
                rotaEmCursoD.innerText = 'Destination: ' + cookieValueDesino + ' Route: ' + cookieValueRota;    
                ecra.appendChild(rotaEmCurso);
                ecra.appendChild(rotaEmCursoD);

        }else{

        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;

        
        const recognition = new window.SpeechRecognition();
        recognition.interimResults = true;
        recognition.continuous = false;
        recognition.lang = 'en-US';
        iteration = 0;


        recognition.addEventListener('result', (e) =>{

            console.log('INTERATION: ', iteration);

            if(iteration == 0){
            destino = Array.from(e.results)
                .map(result => result[0])
                .map(result => result.transcript)
                .join('');

            console.log('DESTINO: ', destino);

            }else if(iteration == 1){
            rotaU = Array.from(e.results)
                .map(result => result[0])
                .map(result => result.transcript)
                .join('');

            console.log('ROTAU: ', rotaU);    
            }

                   
        

       if(e.results[0].isFinal){

            if(iteration == 0){
                p = document.createElement('p');
                p.classList.add('lead');
                p.innerText = 'Answer: ' + destino;
                ecra.appendChild(p);
                rota = document.createElement('p');
                rota.classList.add('lead');
                rota.innerText = 'Route:fast, economic or less trafic?'
                ecra.appendChild(rota);
                console.log('DESTINO: ',destino);
            }
            if(iteration == 1){
                rota.remove();
                tipoRota = document.createElement('p');
                tipoRota.classList.add('lead');
                tipoRota.innerText = 'Route Type: ' + rotaU;
                ecra.appendChild(tipoRota);
                console.log('ROTAU: ',rotaU);
                recognition.stop();
                iteration = 2;
            }

            if(iteration == 2){
            
                try{
                    const res = fetch('http://localhost:3000/ecraVolante/ecraVolanteGPS',{
                    method: 'POST',
                    body: JSON.stringify({destino,rotaU}),
                    headers:{'Content-Type': 'application/json'}
                    });
                }catch(err){
                    console.log(err);
                }
                console.log('VOLTEI');
        
        
            }
       }
    }) 

    recognition.addEventListener('end',() => {
        if(iteration == 2){
            recognition.stop();
        }else{
        iteration=1;
        recognition.start();
        }
    })

        recognition.start();
}
    </script>

</body>

</html>