<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/707687832239603863/1048573000548618360/classic_car.png">
    <title> Sistema Infotainment </title>

</head>

<body class="background_ecraPrincipal">
    <img src='https://cdn.discordapp.com/attachments/707687832239603863/1049440866693025933/goback.png' class="goBack" 
    width='100px' height='100px' onclick="location.href='/'">

    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1050080688017248256/botao_RADIO.png" class="botaoRADIO"
    width="158px" height="88px" onclick="location.href='/ecraPrincipal/radio'">
    <img src="https://media.discordapp.net/attachments/707687832239603863/1050080751883911218/botao_MEDIA.png" class="botaoMEDIA"
    width="150px" height="60px" onclick="location.href='/ecraPrincipal/media'">
    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1049385285810671616/botao_PHONE.png" class="botaoPHONE"
    width="150px" height="60px" onclick="location.href='/ecraPrincipal/phone'">
    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1051632943304552498/botao_WIFI.png" class="botaoWIFI"
    width="187px" height="150px" onclick="location.href='/ecraPrincipal/wifi'">

    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1050047131337105549/botao_SETUP.png" class="botaoSETUP"
    width="200px" height="76px" onclick="location.href='/ecraPrincipal/setup'">
    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1050080752282374285/botao_GPS.png" class="botaoGPS"
    width="200px" height="65px" onclick="location.href='/ecraPrincipal/gps'">
    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1050120970775580692/botao_CAR.png" class="botaoCAR"
    width="200px" height="65px" onclick="location.href='/ecraPrincipal/car'">
    <img src="https://cdn.discordapp.com/attachments/707687832239603863/1050123259888275566/botao_MENU.png" class="botaoMENU"
    width="217px" height="110px" onclick="location.href='/ecraPrincipal/menu'">

    <div class="ecra">
        <img src="https://cdn.discordapp.com/attachments/707687832239603863/1051591843231563836/ecra_Welcome.jpg"
        width="650px" height="420px">

    </div>
    
    
</body>

</html>