<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/707687832239603863/1048573000548618360/classic_car.png">
    <title> Sistema Infotainment </title>

</head>

<body class="background">
    <img src="https://cdn.discordapp.com/attachments/1026128172477059122/1049353181135634514/EcraPrincipal_ER.png" class="ecraPrincipal"
    width="290px" height="230px" onclick="location.href='/ecraPrincipal'" >
    <img src="https://cdn.discordapp.com/attachments/1026128172477059122/1049357688569606144/EcraVolante_ER.png" class="ecraVolante"
    width="530px" height="440px" onclick="location.href='/ecraVolante'" >
    <img src="https://cdn.discordapp.com/attachments/632312392843264021/1051122100871647403/marcha-atras.png" class="ecramarchaatras"
    width="130px" height="160px" onclick="location.href='/ecraPrincipal/MarchaAtras'">
    



</body>

</html>