
body{
    margin: 0px;
}

.background {
    background-image: url('https://cdn.discordapp.com/attachments/1026128172477059122/1049340814272241865/IMG_7473.jpg');
    background-size: 215vh;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.ecraPrincipal {
    position: absolute;
    top: 460px;
    left: 775px;  
    opacity: 0; 
}

.ecraPrincipal:hover {
    opacity: 1; 
}

.ecraVolante {
    position: absolute;
    top: 380px;
    left: 315px;  
    opacity: 0; 
}

.ecraVolante:hover {
    opacity: 1; 
}